## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your measurements and stations tables.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all Database Engineering work.

* Use Pandas to read the cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * Use a class for `Measurement` and for `Station`.

  * Define primary keys.

* Once ORM classes are defined, create the tables in the database using `create_all`.

In [1]:
# Dependencies
import pandas as pd
import sqlalchemy

# Declare Column Types
from sqlalchemy import Column, Integer, String, Text, Float, ForeignKey, create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
clean_measurements = pd.read_csv('clean_measurements.csv', usecols=['station','date','prcp','tobs'])
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [3]:
clean_stations = pd.read_csv('clean_stations.csv',usecols=['elevation','latitude','longitude','name','station'])
clean_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [5]:
Base = declarative_base()

In [6]:
class Measurement(Base):
    __tablename__ = 'measurement'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.station}"

In [7]:
class Station(Base):
    
    __tablename__ = 'station'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
# Create the tables in the database
Base.metadata.create_all(engine)

In [9]:
# Verify names in table
engine.table_names()

['measurement', 'station']

In [10]:
# Populate Station table
conn = engine.connect()

t_stations = pd.read_csv('clean_stations.csv')
    
data = t_stations.to_dict(orient='records')

conn.execute(Station.__table__.insert(), data)

In [11]:
# Populate Measurement table
t_measurements = pd.read_csv('clean_measurements.csv')
    
data2 = t_measurements.to_dict(orient='records')

conn.execute(Measurement.__table__.insert(), data2)

In [12]:
# Test proper population
engine.execute("select * from station limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [13]:
# Test proper population
engine.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]