## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your measurements and stations tables.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all Database Engineering work.

* Use Pandas to read the cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * Use a class for `Measurement` and for `Station`.

  * Define primary keys.

* Once ORM classes are defined, create the tables in the database using `create_all`.

In [11]:
# Dependencies
import pandas as pd
import sqlalchemy

# Declare Column Types
from sqlalchemy import Column, Integer, String, Float, create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

In [8]:
clean_measurements = pd.read_csv('clean_measurements.csv', usecols=['station','date','prcp','tobs'])
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [9]:
clean_stations = pd.read_csv('clean_stations.csv',usecols=['elevation','latitude','longitude','name','station'])
clean_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [10]:
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [12]:
Base = declarative_base()

In [13]:
class Measurement(Base):
    __tablename__ = 'measure'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [14]:
class Station(Base):
    __tablename__ = 'station'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    lattitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [16]:
# Create the tables in the database
Base.metadata.create_all(engine)

In [17]:
# Create a connection to the engine
conn = engine.connect()

In [20]:
meas = clean_measurements.to_dict(orient='records')
meas[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [21]:
stat = clean_stations.to_dict(orient='records')
stat[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [22]:
#metadata = MetaData(bind=engine)
#metadata.reflect()

In [23]:
# Create tables
t_meas = sqlalchemy.Table('measurement', metadata, autoload=True)
t_stat = sqlalchemy.Table('station', metadata, autoload=True)

In [26]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(t_meas.delete())
conn.execute(t_stat.delete())

In [27]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(t_meas.insert(), meas)
conn.execute(t_stat.insert(), stat)

In [28]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurement limit 5").fetchall()

OperationalError: (sqlite3.OperationalError) no such table: measurement [SQL: 'select * from measurement limit 5'] (Background on this error at: http://sqlalche.me/e/e3q8)